*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
body{
    width:100%;
    height: 100%;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
}
header{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.566),rgba(0, 0, 0, 0.584)) ,url(../image/main-img.jpg);
    background-size: cover;
}
header nav{
    background:black;
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
header nav .logo img{
    width:60px;
}
header nav .btn-nav{
    color:white;
    background: blue;
    margin:10px 0px;
    padding-top:8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 20px;
    text-align: center;
}
header nav .btn-nav:hover{
    text-decoration: none;
}
.cont{
    transform: translateY(100px);
}
.cont .row h1{
    color:white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}
.cont .row p{
    color:rgba(255, 255, 255, 0.587);
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 40px;
}
.cont .row .btn-cont{
    color:white;
    background: blue;
    border-radius: 20px;
    padding:12px 28px;
    transition: .5s ease;
}
.cont .row .btn-cont:hover{
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
}
/* fin header */

.film{
    transform: translateY(-80px);
    overflow: hidden;
    white-space: nowrap;
}
.film-slide {
    display: inline-block;
    animation: slide 35s infinite linear;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.film-slide img{
    height:290px;
    width:208px;
    margin-left: 7px;
    border-radius: 15px;
}
.film:hover .film-slide{
    animation-play-state: paused;
    cursor: pointer;
}
/* fin film */
.chanel{
    overflow: hidden;
    white-space: nowrap;
}
.chanel-slide img{
    width:100px;
    margin-left: 7px;
    border-radius: 15px;
}
.chanel-slide{
    display: inline-block;
    animation: chanel 35s infinite linear;
}
@keyframes chanel{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
/* fin channels */
.card-info{
    margin-top: 60px;
}
.car-d {
    box-shadow: red 1px 1px 1px 2px;
    margin-bottom: 15px;
}
.card-info h2{
    color:white;
    margin-top: 20px;
}
.card-info p{
    color:rgba(255, 255, 255, 0.58);

}
.card-info img{
    width:60px;
}
/* fin car-d */

.plane{
    margin-top:100px;
}
.plane h1{
    color:white;
    text-align: center;
    margin-bottom: 30px;
}
.card-plan{
    margin-bottom: 20px;
    box-shadow: red 1px 1px 1px 2px;
    padding:15px;
}
.card-plan h3{
    color:white;
}
.card-plan h1{
    box-shadow: rgba(255, 0, 0, 0.753) 1px 1px 1px 2px;
}
.card-plan p{
    color:white;
    letter-spacing: 1px;
}
.card-plan a{
    color:white;
    background:red;
    padding:10px 28px;
    margin:15px 0px;
    display: inline-block;
    border-radius: 15px;
    transition: .4s ease;
}
.card-plan a:hover{
    text-decoration: none;
    letter-spacing: 1px;
}
.card-plan h4{
    color:white;
    font-size: 14px;
}
.card-plan .icon i{
    color:white;
    margin:10px 7px;
    font-size: 18px;
}
.acti{
    animation: act 4s infinite linear;
    box-shadow: none;
}
@keyframes act{
    0%{
    box-shadow: blue 2px 2px 2px  3px;
    }
    100%{
        box-shadow: red 2px 2px 2px  3px;
    }
}
/* fin plan */
.work{
    margin-top: 60px;
}
.work i{
    margin:12px 0px;
    color:white;
    font-size: 100px;
}
.card-work{
    border:1px solid gray;
}
.work h1{
    color:white;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.work p{
    color:gray;
    margin-bottom: 20px;
}
.work a{
    color:rgba(255, 0, 0, 0.753);
}
.work button a{
    color:red;
    border:1px solid red ;
    padding:15px 30px;
    border-radius: 15px;
    background: transparent;
    transition: .4s ease;
}
button{
    background: transparent;
    border: none;
    margin-top: 20px;
}
.work button a:hover{
    color:white;
    background: red;
    text-decoration: none;
}

.support-faq{
    margin-top:70px ;
}
.support-faq h1{
    color:white;
    text-align: center;
    margin-bottom: 20px;
}
.card-header {
    background: rgb(35, 34, 34);
    border: none;
}
.card-header a{
    color:white;
    letter-spacing: 2px;
}
.card-body{
    background:black;
    border: none;
    color:white;
}

.sup{
    margin-top: 20px;
    text-align: center;
    color:white;
    margin-left: 2px;
    padding:30px 20px;
    background: rgb(52, 50, 50);
}
.sup i{
    font-size: 80px;
    margin-bottom: 30px;
}
.sup h1{
    font-size: 36px; 
    letter-spacing: 1px;
    margin-bottom: 30px;
    line-height: 29px;
}
.sup p{
    font-size: 24px; 
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 29px;
}
.sup a{
    border: 1px solid white;
    padding:10px 29px;
    color:white;
}
.wtp{
    transform: translateY(60px);
    z-index: 100;
    margin-left: 92%;
    margin-right: 40px;
    width:70px;
    position: fixed;
}